@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f6f1f1;
}

body {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  /* font-size: 1.75rem; */
}

.container {
  background: #146c94;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
}

.form {
  width: 100%;
}

.input {
  outline: none;
  background: none;
  border: 1px solid #19a7ce;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.input::placeholder {
  color: #ffffff4d;
}

.btn {
  background: #19a7ce;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #19a7ce;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}

.icon {
  display: flex;
  justify-content: space-between;
  min-width: 5rem;
}
